.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .pop-up-body {
        margin: 50px;
        background-color: white;
        width: 60%;
        height: min-content;
        color: black;
        margin-top: 40px;
        padding: 25px;

        .contact-info {
            display:flex; 
            justify-content: space-evenly;
            margin-top: 50px;

            .info-item {
                display: flex;
                gap: 6px;
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    h1 {
        width: 100%;
        text-align: center;
    }

    .close-btn {
        margin: 8px;
        cursor: pointer;
    }
}

.fb {
    display: inline-block;
    background-image: url('../../assets/icons/facebook.png');
    width: 22px;
    height: 22px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

ul {
    margin: 30px;

   li {
    height: 90px;

    .row {
        display: flex;
        align-items: center;
        gap: 6px;

   }
   }
    
    .info {
        display: inline-block;
    }
}

.message-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    .message {
        color: rgb(164, 164, 164);
    }
}

.mobile-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: white;
}

@media only screen and (max-width: 900px) {
    .header {
        width: 100vw;

        h1 {
            padding-left: 15px;
        }

        form {
            width: 100%;
            padding-top: 0;
        }

        .contacts {
            display:flex; 
            justify-content: space-evenly; 
            flex-direction: column;
        }
    }

    .message {
        text-align: center;
        font-size: 14px;
    }
  }