.container {
    display: flex;
    gap: 120px;
    margin-top: 110px;
    margin-left: 40px;

    .information {
        h1 {
            // margin-left: 40px;
        }
    
        .info {
            // margin-left: 40px;
            width: 300px;
        }
    
        .location {
            // margin-left: 40px;
            display: flex;
            align-items: center;
        }
    
        h2 {
            margin-top: 50px;
            // margin-left: 40px;
        }
    
        ul {
            width: 140px;
            padding: 0;
            li {
                display: flex;
                justify-content: space-between;

                
            }
        }
    }

    // .reviews {

    // }

        .add-review {
            form {
                display: flex;
                flex-direction: column;
                width: 400px;

                input {
                    height: 20px;
                    padding: 4px 4px 0 4px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                textarea {
                    font-size: 14px;
                    padding: 4px 2px 0 4px;
                }

                .btn-container {
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;

                    button {
                        width: 100px;
                        height: 40px;
                    }
                }
            }
        }
}