.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    margin-top: 110px;
    margin-left: 60px;
    // margin-right: 40px;

    padding-bottom: 60px;

    .information {
        display: flex;
        justify-content: space-between;
        // width: 100vw;

        .images {
            display: flex;
            justify-content: flex-end;
            height: 100%;

            .image {
                width: 30%;
                height: 70%;
            }
        }
    
        .info {
            width: 300px;
        }
    
        .location {
            display: flex;
            align-items: center;
            margin-top: 16px;
            
            p {
                margin: 0;
            }
        }
    
        h2 {
            margin-top: 50px;
        }
    
        ul {
            width: 140px;
            padding: 0;
            li {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .reviews-section {
        display: flex; 
        justify-content: space-between;
        gap: 30px;
    }

    .add-review {
        form {
            display: flex;
            flex-direction: column;
            width: 400px;

            input {
                height: 20px;
                padding: 4px 4px 0 4px;
                margin-bottom: 10px;
                font-size: 14px;
            }

            textarea {
                font-size: 14px;
                padding: 4px 2px 0 4px;
            }

            .btn-container {
                display: flex;
                justify-content: center;
                margin-top: 10px;

                button {
                    width: 100px;
                    height: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        margin: 0;
        align-items: center;
    }

    .top-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .info {
        text-align: center;
        width: 100% !important;
    }

    .information {
        padding-top: 70px;
        flex-direction: column;
    }

    .images {
        margin-top: 10px;
        justify-content: center !important;
    }

    .reviews-section {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .add-review {
            width: 100%;

            form {
                width: 100%;
            }
        }

        .reviews {
            margin-top: 20px;
            width: 100%;
        }
    }

    
  }