@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #08302F;
    font-family: 'Montserrat', sans-serif;
    color: #eee;
}

header {
    display: flex;
    padding: 10px 10%;
    justify-content: flex-end;
    align-items: center;
    // background-color: #08302F;
    background-color: #101820FF;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    user-select: none;
    // width: 100vw;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;

        .logo {
            // cursor: default;
            // color: #F2AA4CFF;
            width: 50px;
            height: 50px;
            
            background-image: url('../../../../assets/logo/cat.png');
            // background-image: url('../../../../assets/logo/kitty.png');
    
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .logo-text {
            color: #F2AA4CFF;
            font-size: 20px;
        }
    }

    .nav-list {
        list-style: none;
        display: flex;
        align-items: center;

        li {
            margin: 0 2rem;
            display: inline-block;
          }
          
          /* Underline styles */
          a.underline {
            display: block;
            position: relative;
            padding: 0.2em 0;
            text-decoration: none;
            color: #F2AA4CFF;

            /* Fade in */
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.1em;
                background-color: #F2AA4CFF;
                opacity: 0;
                transition: opacity 300ms, transform 300ms;
            }
            
            &:hover::after,
            &:focus::after {
                opacity: 1;
                transform: translate3d(0, 0.2em, 0);
            }
          }
          
          .contact-us {
            border-radius: 30px;
            background-color:#F2AA4CFF;
            text-align: center;
            width: 130px;
            height: 50px;
            line-height: 50px;
            color: #101820FF;
            transition: ease-in-out 0.5s;
            border: none;

            a {
                color: #101820FF;
            }

            &:hover {
                color: white;
                transform: scale(1.1);
            }

            &:active {
                background-color: rgb(192, 124, 36);
            }
        }
    }
    
}
