<header>
    <span class="logo">GEORGE INC.</span>
  
    <ul class="nav-list">
        <li class="links"><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home page</a></li>
        <li class="links"><a routerLink="catalog" routerLinkActive="active" ariaCurrentWhenActive="page">Cats catalog</a></li>
        <li class="links"><a routerLink="about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About us</a></li>
        <li class="contact-us">Contact us</li>
    </ul>
</header>

<!-- routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page" -->