<header>
    <div class="logo"></div>
  
    <ul class="nav-list">
        <li class="links"><a class="underline" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home page</a></li>
        <li class="links"><a class="underline" routerLink="catalog" routerLinkActive="active" ariaCurrentWhenActive="page">Cats catalog</a></li>
        <li class="links"><a class="underline" routerLink="about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About us</a></li>
        <li class="contact-us"><a (click)="showContactUsFunc()">Contact us</a></li>
    </ul>
</header>

<app-contact-us-pop-up *ngIf="showContactUs"></app-contact-us-pop-up>

