<div class="pop-up">
    <div class="pop-up-body">
        <div class="header">
            <h1>Contact information</h1>
            <mat-icon class="close-btn" (click)="close()">close</mat-icon>
        </div>
        <hr>

        <ul>
            <li>
                <p>Visit our social media:</p>
                <div class="row">
                    <div class="fb"></div>
                    <!-- <span> - </span> -->
                    <p><a href="#">British Short Hair in Illinois</a></p>
                </div>
            </li>
            <li>
                <p>Call us:</p>
                <div class="row">
                    <mat-icon> phone</mat-icon>
                    <!-- <span> - </span> -->
                    <p class="info">0889295647</p>
                </div>
            </li>
            <li>
                <p>Email us:</p>
                <div class="row">
                    <mat-icon>mail</mat-icon>
                    <!-- <span> - </span> -->
                    <p class="info">british.shorhair@gmail.com</p>
                </div>
            </li>
        </ul>

        <div class="message-container">
            <h5 class="message">Feel free to ask any question. We are more than happy to answer them! :)</h5>
        </div>
    </div>
</div>

<div class="pop-up-background"></div>