<div class="pop-up" *ngIf="!isMobile">
    <div class="pop-up-body">
        <mat-icon class="close-btn" (click)="goBackToCatalog()">close</mat-icon>

        <mat-icon class="arrow" (click)="changePhoto(false)">chevron_left</mat-icon>
        <!-- <div class="image" [@leftRightFade]="photoAnimationState" [ngStyle]="{'background-image': 'url('+cat.img[photoIndx]+')'}"></div> -->
        <div class="image" [ngStyle]="{'background-image': 'url('+cat.images[photoIndx]+')'}"></div>

        <mat-icon class="arrow" (click)="changePhoto(true)">chevron_right</mat-icon>
        

        <div class="information">
            <ul>
                <li><span>Name: </span> {{ cat.name }}</li>
                <li><span>Age: </span> {{ cat.age }}</li>
                <li><span>Breed: </span> {{ cat.breed }}</li>
                <li><span>Color: </span> {{ cat.color }}</li>
                <li><span>Sex: </span> {{ cat.sex }}</li>
                <li><span>Price: </span> {{ cat.price }}</li>
                <li><span>Fully vaccinated and dewarmed: </span> Yes </li>
            </ul>

            <div class="buttons">
                <a class="contact-us btn" (click)="toContactUs()">Contact us</a>
            </div>
        </div>
    </div>
</div>

<div class="pop-up-background" *ngIf="!isMobile"></div>

<div class="mobile-container" *ngIf="isMobile">
    <div class="top-btn">
        <mat-icon class="close-btn" (click)="goBackToCatalog()">close</mat-icon>
    </div>

    <div class="images">
        <mat-icon class="arrow" (click)="changePhoto(false)">chevron_left</mat-icon>
        <!-- <div class="image" [@leftRightFade]="photoAnimationState" [ngStyle]="{'background-image': 'url('+cat.img[photoIndx]+')'}"></div> -->
        <div class="image" [ngStyle]="{'background-image': 'url('+cat.images[photoIndx]+')'}"></div>

        <mat-icon class="arrow" (click)="changePhoto(true)">chevron_right</mat-icon>
    </div>

    <div class="information">
        <ul>
            <li><span>Name: </span> <span>{{ cat.name }}</span></li>
            <li><span>Age: </span> <span>{{ cat.age }}</span></li>
            <li><span>Breed: </span> <span>{{ cat.breed }}</span></li>
            <li><span>Color: </span> <span>{{ cat.color }}</span></li>
            <li><span>Sex: </span> <span>{{ cat.sex }}</span></li>
            <li><span>Price: </span> <span>{{ cat.sex }}</span></li>
        </ul>

        <div class="buttons">
            <a class="contact-us btn" (click)="toContactUs()">Contact us</a>
        </div>
    </div>
</div>