

.pop-up {
    position: fixed;
    display: flex;
    justify-content: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1000;

    /* enables scrolling for longer modals */
    overflow: auto;

    .pop-up-body {
        display: flex;
        gap: 30px;
        align-items: center;

        height: 520px;
        width: 750px;
        padding: 30px;

        margin: 180px;
        background-color: #fff;
        position: relative;

        .close-btn {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .arrow {
            cursor: pointer;
            font-size: 35px;
            height: 35px;
            width: 35px;
        }

        .image {
            width: 70%;
            height: 80%;
            // margin: 20px;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .information {
            font-size: 18px;

            ul {
                padding: 0;
                list-style: none;
                padding-right: 20px;
                width: 250px;

                hr {
                    margin: 5px 0;
                }

                li {
                    display: flex;
                    justify-content: space-between;

                    .dark-gray {
                        color: rgb(120, 120, 120);
                    }
                }
            }

            

            .buttons {
                display: flex;
                margin-top: 20px;      
                padding-right: 20px;         

                button {
                    margin: 6px;
                    border: none;
                    font-size: 16px;
                    border-radius: 6px;
                    cursor: pointer;
                    height: 40px;

                }

                .contact-us {
                    width: 100%;
                    height: 50px;
                    line-height: 36px;
                    color: #101820;
                    background-color: #f2aa4c;
                    transition: ease-in-out 0.5s;
                    border: none;

                    &:hover {
                        transform: scale(1.1);
                        color: white
                    }

                    &:active {
                        background-color: rgb(190, 137, 68);
                    }
                }
            }
        }
    }
}

.pop-up-background {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
    opacity: 75%;

    z-index: 900;
}

/* disables scrolling of the page | it is added only when pop up is open*/
body.pop-up-modal-open {
    overflow: hidden;
}

.mobile-container {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 80px 20px 20px 20px;

    background-color: white;
    overflow: auto;

    z-index: 900;

    .top-btn {
        display: flex;
        justify-content: flex-end;
    }

    .images {
        display: flex;
        height: 330px;
        justify-content: center;
        align-items: center;

        .arrow {
            cursor: pointer;
        }
    
        .image {
            width: 90%;
            height: 100%;
    
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    .information {
        font-size: 22px;

        ul {
            padding: 0;

            hr {
                margin: 10px 0;
            }

            li {
                display: flex;
                justify-content: space-between;
                margin: 10px;
                padding: 0 20px;
            }
        }

        .buttons {
            display: flex;
            justify-content: center;     
            padding: 20px 0;           

            button {
                margin: 6px;
                border: none;
                font-size: 16px;
                border-radius: 6px;
                cursor: pointer;
                height: 40px;

            }

            .contact-us {
                width: 70%;
                height: 50px;
                line-height: 36px;
                color: #101820;
                font-size: 18px;
                font-weight: 600;
                background-color: #f2aa4c;

                &:active {
                    background-color: rgb(190, 137, 68);
                }
            }
        }
    }
}