<div class="pop-up" *ngIf="!isMobile">
    <div class="pop-up-body">
        <mat-icon class="close-btn" (click)="goBackToCatalog()">close</mat-icon>

        <mat-icon class="arrow" (click)="changePhoto(false)">chevron_left</mat-icon>
        <!-- <div class="image" [@leftRightFade]="photoAnimationState" [ngStyle]="{'background-image': 'url('+cat.img[photoIndx]+')'}"></div> -->
        <div class="image" [ngStyle]="{'background-image': 'url('+cat.images[photoIndx]+')'}"></div>

        <mat-icon class="arrow" (click)="changePhoto(true)">chevron_right</mat-icon>
        

        <div class="information">
            <ul>
                <li><span class="dark-gray">Name: </span> <span>{{ cat.name }}</span></li>
                <hr>
                <li><span class="dark-gray">Born: </span> <span>{{ cat.born }}</span></li>
                <hr>
                <li><span class="dark-gray">Breed: </span> <span>{{ cat.breed }}</span></li>
                <hr>
                <li><span class="dark-gray">Color: </span> <span>{{ cat.color }}</span></li>
                <hr>
                <li><span class="dark-gray">Sex: </span> <span>{{ cat.sex }}</span></li>
                <hr>
                <li><span class="dark-gray">Price: </span> <span>{{ cat.price }}$</span></li>
                <hr>
                <li><span class="dark-gray">Fully vaccinated and dewarmed:</span> <span style="line-height: 79px;">Yes</span></li>
            </ul>

            <div class="buttons">
                <a class="contact-us btn" (click)="toContactUs()">Contact us</a>
            </div>
        </div>
    </div>
</div>

<div class="pop-up-background" *ngIf="!isMobile"></div>

<div class="mobile-container" *ngIf="isMobile">
    <div class="top-btn">
        <mat-icon class="close-btn" (click)="goBackToCatalog()">close</mat-icon>
    </div>

    <div class="images">
        <mat-icon class="arrow" (click)="changePhoto(false)">chevron_left</mat-icon>
        <!-- <div class="image" [@leftRightFade]="photoAnimationState" [ngStyle]="{'background-image': 'url('+cat.img[photoIndx]+')'}"></div> -->
        <div class="image" [ngStyle]="{'background-image': 'url('+cat.images[photoIndx]+')'}"></div>

        <mat-icon class="arrow" (click)="changePhoto(true)">chevron_right</mat-icon>
    </div>

    <div class="information">
        <ul>
            <li><span>Name: </span> <span>{{ cat.name }}</span></li>
            <hr>
            <li><span>Born: </span> {{ cat.born }}</li>
            <hr>
            <li><span>Breed: </span> <span>{{ cat.breed }}</span></li>
            <hr>
            <li><span>Color: </span> <span>{{ cat.color }}</span></li>
            <hr>
            <li><span>Sex: </span> <span>{{ cat.sex }}</span></li>
            <hr>
            <li><span>Price: </span> <span>{{ cat.sex }}</span></li>
        </ul>

        <div class="buttons">
            <a class="contact-us btn" (click)="toContactUs()">Contact us</a>
        </div>
    </div>
</div>