// :host {
//     display: none;
// }

.pop-up {
    position: fixed;
    display: flex;
    justify-content: center;

    // overflow: hidden;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1000;

    /* enables scrolling for longer modals */
    overflow: auto;

    .pop-up-body {
        display: flex;
        gap: 20px;
        align-items: center;

        height: 50%;
        width: 50%;
        padding: 30px;

        margin: 180px;
        background-color: #fff;

        .close-btn {
            cursor: pointer;
            position: absolute;
            top: 25%;
            right: 25%;
        }

        .arrow {
            cursor: pointer;
        }

        .image {
            width: 50%;
            height: 80%;
            // margin: 20px;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .information {
            font-size: 22px;

            li {
                margin: 10px;
            }

            .buttons {
                display: flex;
                justify-content: center;                

                button {
                    margin: 6px;
                    border: none;
                    font-size: 16px;
                    border-radius: 6px;
                    cursor: pointer;
                    height: 40px;

                }

                .contact-us {
                    width: 140px;
                    color: #101820FF;
                    background-color: #F2AA4CFF;
                    transition: all 0.9 ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }

                    &:active {
                        background-color: #8e56aa;
                    }
                }
            }
        }
    }
}

.pop-up-background {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
    opacity: 75%;

    z-index: 900;
}

/* disables scrolling of the page | it is added only when pop up is open*/
body.pop-up-modal-open {
    overflow: hidden;
}