.container {
    padding: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    justify-content: space-evenly;
    border-radius: 8px;

    .image {
        width: 95%;
        height: 300px;
        // background-image: url('https://m.media-amazon.com/images/I/81e7P3HaIxL._AC_SY550_.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .info {
        padding: 0;

        .name {
            margin: 0;
            text-align: center;
            color: #08302F;
        }
    
        .age {
            margin-top: 0;
            text-align: center;
            color: #08302F;
        }
    }

    .show-more-btn {
        line-height: 40px;
        text-decoration: none;
        text-align: center;
        border: none;
        border-radius: 6px;
        height: 40px;
        width: 100px;
        color: white;
        background-color: #08302F;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &:hover {
            color: #B5E582;
            transform: scale(1.05);
        }
    }
}