<div class="background-image">

  <div class="container">
    <div class="left-content">
      <h1>Let us help you find your newest family member! Choose from our fine selection of british shorhairs!</h1>
      <!-- <button class="catalog-btn">Catalog</button> -->
    </div>
  
    <div class="right-content">
      <h1>Have a question? Feel free to ask us anything related to us or our services! We are more than happy to answer you!</h1>
      <!-- <button class="ask-us">Ask us</button> -->
    </div>
  </div>
    <!-- <video muted loop autoplay class="background-video">
        <source src="../../assets/cat-background-video-muted.mp4" type="video/mp4">
        <source src="../../assets/cat-background-video-muted.mp4" type="video/webm">
    </video>
    
    <div class="content">
      <h3>Find your newest family member!</h3>
      <a (click)="toCatalog()">To Catalog</a>
    </div> -->
</div>

<router-outlet></router-outlet>